$stock-card-padding: 1.5rem;
$stock-card-border: 1px solid $border;

.stock {
  &__header {
    .column {
      &:last-child {
        text-align: right;
      }
    }
  }

  &__heading {
    padding: $stock-card-padding $stock-card-padding 0;

    .title {
      font-size: 1.25rem;
    }
  }

  &__symbol {
    text-transform: uppercase;
  }

  &__subheading {
    padding: 0 $stock-card-padding $stock-card-padding;

    .subtitle {
      font-size: 0.8rem;
    }
  }

  &__highlights {
    padding: $stock-card-padding;
    background-color: #f4f8f9;
    border-top: $stock-card-border;
    border-bottom: $stock-card-border;

    .level-item {
      &:nth-child(2) {
        border-left: $stock-card-border;
        border-right: $stock-card-border;
      }
    }
  }
}

.level {
  .subtitle {
    color: #6ba8e6;
    // font-size: ;
  }
}

.is-positive {
  color: #30af30;
}

.is-negative {
  color: #de3c3c;
}
