.stock {
  &__header {
    .column {
      &:last-child {
        text-align: right;
      }
    }
  }

  &__heading {
    font-size: 1.25rem;
    padding: 1.5rem 1.5rem 0;
  }

  &__subheading {
    padding: 0 1.5rem 1.5rem;
  }

  &__highlights {
    padding: 1.5rem;
    background-color: #f4f8f9;
    border-top: 1px solid $border;
    border-bottom: 1px solid $border;

    .level-item {
      &:nth-child(2) {
        border-left: 1px solid $border;
        border-right: 1px solid $border;
      }
    }
  }
}

.level {
  .title {
    color: #6ba8e6;
  }
}

// .heading {
//   margin: 0;
//   font-size: 1.25rem;

//   &Symbol {
//     float: left;
//   }

//   &Link {
//     text-decoration: none;
//   }

//   &History {
//     margin-left: 1rem;
//   }

//   &Price {
//     float: right;
//   }
// }

// .subHeading {
//   clear: both;
//   margin-top: 0;
//   padding-top: 0.25rem;
//   font-size: 0.75rem;
//   color: #9197a2;
//   text-transform: capitalize;

//   &Name {
//     float: left;
//   }

//   &Change {
//     float: right;
//   }
// }

.positiveResult {
  color: #30af30;
}

.negativeResult {
  color: #de3c3c;
}
