$stock-card-padding: 1.5rem !default;
$stock-card-border: 1px solid $border !default;

.stock {
  &__heading {
    padding: $stock-card-padding $stock-card-padding 0;
  }

  &__symbol {
    position: relative;
    text-transform: uppercase;
    font-size: 1.25rem;

    .icon {
      position: absolute;
      top: -0.5rem;
      margin-left: 0.5rem;
      color: rgba($grey-light, 0.9);
    }
  }

  &__link {
    position: absolute;
    top: 0.5rem;
    right: 0.625rem;
    color: $text;

    &:hover {
      color: $info;
    }
  }

  &__subheading {
    padding: 0 $stock-card-padding $stock-card-padding;

    .subtitle {
      font-size: 0.8rem;
    }
  }

  &__highlights {
    padding: $stock-card-padding;
    background-color: $color--light-grey;
    border-top: $stock-card-border;
    border-bottom: $stock-card-border;

    .level-item {
      &:nth-child(2) {
        border-left: $stock-card-border;
        border-right: $stock-card-border;
      }
    }
  }

  &__pe {
    .icon {
      color: rgba($color--red, 0.8);
    }
  }

  &__yield {
    .icon {
      color: $text;

      &:hover {
        color: $info;
      }
    }
  }

  &__date {
    padding-bottom: 0;

    .button {
      margin: 0 0.5rem;
      border: 0;

      &:hover {
        color: $info;
      }
    }
  }

  &__footer {
    .progress-wrapper {
      width: 100%;
    }

    .progress {
      border-radius: 0;
    }
  }

  .icon {
    border-bottom: 0;
    font-size: 1rem;
  }

  .level {
    .subtitle {
      color: $color--light-blue;
    }
  }

  [data-tooltip] {
    &.has-tooltip-right {
      &.has-tooltip-arrow {
        &::before {
          right: -0.75rem;
        }

        &::after {
          right: -0.5rem;
        }
      }
    }
  }
}
