// Breakpoint
$desktop: 1152px + (2 * $gap);
$widescreen-enabled: false;
$fullhd-enabled: false;

// Button
$button-focus-box-shadow-size: 0;

// Navbar
$navbar-height: 5rem;

// Footer
$footer-padding: 3rem;

// Progress Bar
$progress-border-radius: 0;
$progress-bar-background-color: #f4f8f9;
