// Colors
$color--light-blue: #6ba8e6;
$color--light-grey: #f4f8f9;
$color--red: #de3c3c;

// Breakpoint
$desktop: 1152px + (2 * $gap);
$widescreen-enabled: false;
$fullhd-enabled: false;

// Input
$input-shadow: none;

// Button
$button-focus-box-shadow-size: 0;

// Navbar
$navbar-height: 8rem;
$navbar-background-color: $primary;
$navbar-item-color: $white;
$navbar-item-hover-color: rgba($white, 0.8);
$navbar-item-hover-background-color: transparent;

// Footer
$footer-padding: 3rem;

// Progress Bar
$progress-bar-background-color: $color--light-grey;
